---
title: Concerts
layout: default
lang: en
filename: concerts.html
---

<div class="container">
<main>

	<h1 class="page-title">Concerts</h1>

	<!-- this could be an include instead? -->
	{% for concert in site.data.concerts %}
	<section class="concert">
		<h2 class="concert__title">{{concert.title}}</h2>
		<div class="concert__body">
			<div class="concert__img">
				<img src={{concert.image-path}}>
			</div>
			<div class="concert__text">
				<div class="concert__details">
		  		<p class="concert__date-time">{{concert.date-time}}</p>
		  		<p class="concert__venue">{{concert.venue.name}}</p>
		  		<p class="concert__venue-address">
					{{concert.venue.address.line1}}<br>
					{{concert.venue.address.line2}} <br>
					{{concert.venue.address.line3}} 
		  		</p>
		  	</div>
		  	<div class="concert__programme">
					<h3 class="concert__programme__heading">Programme:</h3>
					<ol class="concert__programme__list">
						<li class="indent-wrapped">{{concert.programme.item1}}</li>
						<li class="indent-wrapped">{{concert.programme.item2}}</li>
						<li class="indent-wrapped">{{concert.programme.item3}}</li>
						<li class="indent-wrapped">{{concert.programme.item4}}</li>
						<li class="indent-wrapped">{{concert.programme.item5}}</li>
						<li class="indent-wrapped">{{concert.programme.item6}}</li>
						<li class="indent-wrapped">{{concert.programme.item7}}</li>
					</ol>
				</div>
				{% if concert.more-info-link-path %}
				<a class="concert__more-info-link" href="{{concert.more-info-link-path}}">more info</a>
				{% endif %}
			</div>
		</div>
	</section>
	{% endfor %}

</main>
</div>