<footer class="footer">
	<div class="container">
		<div class="footer__flexbox">
<!-- 			<div class="footer__logo"></div> -->

			<nav class="footer__nav">
				<a class="footer__nav__link" href=".">home</a>
				<a class="footer__nav__link" href="about.html">about</a>
			    <a class="footer__nav__link" href="concerts.html">concerts</a>
			    <a class="footer__nav__link" href="videos.html">videos</a>
			    <a class="footer__nav__link" href="contact.html">contact</a>
			</nav>

			<div class="footer__sm-links">
				<h3 class="footer__sm-links__title">Find us on:</h3>
				<div class="footer__sm-links__buttons">
					<div class="footer__sm-links__button">
						<a href="https://www.youtube.com/channel/UCK704dJqN8KNi4YJrd886Sg">
							<img src="images/youtube-button.png" alt="youtube button">
						</a>
					</div>
					<div class="footer__sm-links__button">
						<a href="https://www.instagram.com/cesarsauramusic/">
							<img src="images/instagram-button.webp" alt="instagram button">
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</footer>