<header class="header">
	<div class="container">
	  <div class="logo">
	  	<a href=".">Cygnus Trio</a>
	  </div>
	  <nav class="nav">
	  	<a class="nav__link" href=".">home</a>
		<a class="nav__link" href="about.html">about</a>
	    <a class="nav__link" href="concerts.html">concerts</a>
	    <a class="nav__link" href="videos.html">videos</a>
	    <a class="nav__link" href="contact.html">contact</a>
	    <!-- <a href="es/" class="lang-switcher">espa&ntilde;ol</a> -->
	  </nav>
  </div>
</header>