<nav class="{{include.nav-class}}">
	{% for line in site.data.pages %}
	<a class="nav__link {% if page.filename==line.rel_path %}current-page{% endif %}" href="{{ line.rel_path }}">{{ line.name_en }}</a>{% endfor %}
	<!-- nav above is a for loop over pages.csv. should add conditional so in lang=en it uses name_en, elsif lang=es, uses name_es -->

<!-- old nav in comment below -->
	<!-- <a class="nav__link" href=".">home</a>
	<a class="nav__link" href="about.html">about</a>
	<a class="nav__link" href="concerts.html">concerts</a>
	<a class="nav__link" href="videos.html">videos</a>
	<a class="nav__link" href="contact.html">contact</a> -->
	<!-- <a href="es/" class="lang-switcher">espa&ntilde;ol</a> -->
</nav>