---
title: Conciertos
name_en: "concerts"
layout: default
lang: es
filename: conciertos.html
slug: es/conciertos
---

<div class="container">
<main>

	<h1 class="page-title">Conciertos</h1>

	<!-- this could be an include instead? -->
	{% for concert in site.data.es-conciertos %}
	<section class="concert">
		<h2 class="concert__title">{{concert.title}}</h2>
		<div class="concert__body">
			<div class="concert__img">
				<img src={{concert.image-path}}>
			</div>
			<div class="concert__text">
				<div class="concert__details">
		  		<h3 class="concert__date-time">{{concert.date-time}}</h3>
				<p class="concert__description">{{concert.description}}</p>
		  		<p class="concert__venue">{{concert.venue.name}}</p>
		  		<p class="concert__venue-address">
					{{concert.venue.address.line1}}
					{% if concert.venue.address.line2 %}
					<br>{{concert.venue.address.line2}}
					{% endif %}
					{% if concert.venue.address.line3 %}
					<br>{{concert.venue.address.line3}}
					{% endif %}
					{% if concert.venue.address.line4 %}
					<br>{{concert.venue.address.line4}}
					{% endif %}
					{% if concert.venue.address.line5 %}
					<br>{{concert.venue.address.line5}}
					{% endif %}
		  		</p>
		  	</div>
		  	<div class="concert__programme">
					<p class="concert__programme__heading">Programa:</p>
					<ol class="concert__programme__list">
						{% for item in concert.programme %}
						<li class="indent-wrapped">{{item}}</li>{% endfor %}
					</ol>
				</div>
				{% if concert.more-info-link-path %}
				<a class="concert__more-info-link" href="{{concert.more-info-link-path}}">m&aacute;s detalles</a>
				{% endif %}
			</div>
		</div>
	</section>
	{% endfor %}

</main>
</div>