---
layout: default
---

<div class="container">
    <main>
        <h1 class="page-title">{{ page.title }}</h1>
        <div class="album__flexbox">
          <div class="album__text">
            
                      {{ content }}
    
          </div>
    
          <div class="album__sidebar">
                <div class="album__image">
                    <a href="https://commons.wikimedia.org/wiki/File:La_%C3%BAltima_copla_-_Joaqu%C3%ADn_Sorolla.jpg">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/2/24/La_%C3%BAltima_copla_-_Joaqu%C3%ADn_Sorolla.jpg" alt="la ultima copla" />
                    </a>   
                </div>
       
          <figure class="album-figure">
            <iframe class="album-embed" src="https://open.spotify.com/embed/album/2LD8KGNGVsS1vcVXWugctC?utm_source=generator"></iframe>
        </figure>
    </div>

        </div>
  
    </main>
  </div>
